<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404 - Page Not Found</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: bisque;
        text-align: center;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      h1 {
        color: #333;
      }

      #error-image {
        max-width: 300px;
        height: auto;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Error 404 - Page Not Found</h1>
      <p>Oops! It looks like something's broken.</p>
      <img src="../images/broken.png" alt="Broken Spoons" id="error-image" />
      <p>We apologize for the inconvenience.</p>
    </div>
  </body>
</html>
